# Ignore everything by default
/*

# Keep these
!/.gitignore
!/.nojekyll       # ← add this

!/index.html

!/landing-page/
/landing-page/*
!/landing-page/index.html

!/master-plan/
/master-plan/*
!/master-plan/research-dashboard.html
!/master-plan/archive_compressed.zip
